@charset "utf-8";

@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-style: normal;
  src: url(font/SpaceGrotesk-Regular.ttf);
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: normal;
  src: url(font/SpaceGrotesk-Medium.ttf);
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 600;
  font-style: normal;
  src: url(font/SpaceGrotesk-SemiBold.ttf);
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Space Grotesk";
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
  line-height: 0;
  background: transparent;
}

.blind {
  overflow: hidden;
  position: absolute;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  line-height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 60px; */
  padding: 16px 160px;
}

.logo {
  flex: 0 0 105px;
  height: 24px;
}

/* .logo_img {
  display: inline-block;
  width: 92.38%;
  height: 96%;
}

.logo_link {
  display: inline-block;
  width: 92.38%;
  height: 96%;
} */


/* nav */

.nav_list {
  display: flex;
}

.nav_item {
  display: flex;
  align-items: center;
}

.nav_link {
  display: inline-block;
  color: var(--neutral-04100, #6c7275);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.nav_item {
  padding: 0px 20px;
}

.nav_item:first-child .nav_link {
  color: var(--neutral-07100, #141718);
}

/* action */

.header_action {
  display: flex;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./img/Icons.png);
  background-repeat: no-repeat;
}

.cart_number {
  display: inline-block;
}

.cart_link {
  display: inline-block;
  color: var(--White, #FFF);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px; /* 83.333% */
  padding: 5px;
}

.user {
  padding: 0px 16px;
}



