@charset "utf-8";

@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-style: normal;
  src: url(font/SpaceGrotesk-Regular.ttf);
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: normal;
  src: url(font/SpaceGrotesk-Medium.ttf);
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 600;
  font-style: normal;
  src: url(font/SpaceGrotesk-SemiBold.ttf);
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Space Grotesk";
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
  line-height: 0;
  background: transparent;
}

.blind {
  overflow: hidden;
  position: absolute;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  line-height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
}


.logo,
.nav_link:hover,
.nav_item.is_active .nav_link,
.header_action_item {
  cursor: pointer;
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1184px;
  height: 60px;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
}

.logo {
  flex: 0 0 105px;
  height: 27px;
}

.logo_img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.logo_link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* nav */

.nav_list {
  display: flex;
}

.nav_link {
  display: inline-block;
  padding: 0 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color:#6c7275;
}

.nav_link:hover,
.nav_item.is_active .nav_link {
  color: #141718;
}

.nav_item + .nav_item  {
  margin-left: 20px;
}

/* action */

.header_action {
  display: flex;
  align-items: center;
}

.header_action_item + .header_action_item {
  margin-left: 16px;
}

.header_cart {
  display: flex;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(img/list_icon.png);
  background-repeat: no-repeat;
}

.icon_search {
  display: inline-block;
  background-position: -52px 0;
}

.icon_user {
  display: inline-block;
  background-position: -26px 0;
}

.cart_number {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 50%;
  background: #000;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

/* reponsitive */

@media screen and (max-width: 375px) {
  .only-pc {
    display: none;
  }

  .only-mo {
    display: block;
  }

  .icon_open_nav {
    display: inline-block;
    background-position: -78px 0;
    margin-right: 4px;
  }

  /* .logo {
    flex: 0 0 70px;
    height: 24px;
  }

  .header_left {
    display: flex; */
  }
  






 